// todo Этот миллион оберток меня просто убивает...
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]>
<!-->
html( lang="en" )
	<!--<![endif]-->
	head
		meta( charset="utf-8" )
		meta( name="viewport", content="width=device-width, initial-scale=1")/
		meta( http-equiv="X-UA-Compatible", content="IE=edge,chrome=1" )/
		title Tork
		meta( name="description", content="Stock Photography Site" )/

		// Favicons
		link( rel="shortcut icon", href="../favicon.ico", type="image/x-icon")/
		link( rel="apple-touch-icon", href="apple-touch-icon.png" )/

		// Normalize
		link(
			rel="stylesheet",
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.css" )/

		// Font Awesome
		link(
			rel="stylesheet",
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" )/

		// Bootstrap
		link(
			rel="stylesheet",
			href="vendor/bootstrap/css/bootstrap.css" )/

		link(
			rel="stylesheet",
			href="vendor/bootstrap/css/bootstrap-theme.css" )/


		// Мои стили
		link(
			rel="stylesheet",
			href="app/css/main.css" )/

		// Modernizer
		// script( src="../vendor/js/modernizr-2.8.3-respond-1.4.2.min.js" )

	body
		div.container-fluid
			// top-menu
			div.row.first
				div.logo.col-xs-24.col-xs-offset-1.col-sm-3
					a( href="#" alt="logo" )
						img( src="app/img/logo.png" )/
				form.search.col-xs-13.col-xs-offset-1.col-sm-5.col-sm-offset-9.col-md-offset-10
					input( type="search" value="Search website" )
					input( type="submit" value="" )
				div.buy.buttons.col-xs-6.col-xs-offset-1.col-sm-2
					a( href="#" ) Buy&nbsp;$21
				div.menu.col-xs-1.col-xs-offset-1

				// Заголовок
				div.row
					div.first-header.col-xs-24.col-xs-offset-1.col-sm-14.col-sm-offset-8.col-md-14
						h1 Building&nbsp;bulletproof fucking&nbsp;apps
						h2.col-sm-24.
							Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan

			// Сиреневая часть с двумя телефонами
			div.row.second
				div.second-header.col-xs-24.col-xs-offset-1.col-sm-9.col-sm-offset-3.col-lg-6.col-lg-offset-3
					h2 Super Duper &amp; such
					h3.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
					div.row
						div.buttons.see-more.col-xs-4.col-xs-offset-8.col-sm-6.col-sm-offset-0
							a( href="#" ) See More

				div.second-phones.col-xs-24.col-xs-offset-1.col-sm-12.col-lg-offset-3
					div.row
						img.interface( src="app/img/app.png" alt="interface" ).col-xs-18.col-xs-offset-4.col-sm-18.col-sm-offset-0
						img.phone( src="app/img/iphone.png" alt="phone" ).hidden-xs.col-sm-16

			// Светлые новости
			div.row.third
					div.third-news.col-xs-24.col-xs-offset-1.col-sm-offset-2.col-md-6.col-md-offset-3
						h2.third-header Design &amp; Features
						h3.description.
							Flannel ennui narwhal, craft beer twee Vice plaid authentic synth.
						p.text.
							Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest.
						div.buttons.see-more.col-xs-4.col-xs-offset-8.col-sm-6.col-sm-offset-0
							a( href="#" ) See More

					div.third-news.col-xs-24.col-xs-offset-1.col-sm-offset-2.col-md-6.col-md-offset-1
						h2.third-header Pocket Power
						h3.description.
							Flannel ennui narwhal, craft beer twee Vice plaid authentic synth.
						p.text.
							Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest.
						div.buttons.see-more.col-xs-4.col-xs-offset-8.col-sm-6.col-sm-offset-0
							a( href="#" ) Buy Now

					div.third-news.col-xs-24.col-xs-offset-1.col-sm-offset-2.col-md-6.col-md-offset-1
						h2.third-header Inspired by the world
						h3.description.
							Flannel ennui narwhal, craft beer twee Vice plaid authentic synth.
						p.text.
							Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest.
						div.buttons.see-more.col-xs-4.col-xs-offset-8.col-sm-6.col-sm-offset-0
							a( href="#" ) Contact Us

			div.row.fourth
				h2.col-sm-16.col-sm-offset-5.col-md-12.col-md-offset-7.col-lg-8.col-lg-offset-9 Designed for humans
				h3.col-xs-24.col-xs-offset-1.col-sm-22.col-sm-offset-2
					Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest. 3 wolf moon Thundercats Banksy paleo, yr four loko Shoreditch dreamcatcher.

				div.humans-img.hidden-xs.col-sm-24.col-sm-offset-1.col-md-16.col-md-offset-5
					div.design-win.col-xs-6.col-xs-offset-9
						a( href="#" ) DESIGN&nbsp;WIN

			div.row.fifth
				div.fifth-news.design.col-xs-24.col-xs-offset-1.col-sm-23.col-sm-offset-2.col-md-4
					div.ico.design-icon
					h3 <span>01</span>Design
					p.
						Scenester PBR deep v jean shorts typewriter. Sustainable keytar Tumblr, authentic mustache locavore scenester gentrify meh banjo fanny pack health goth. Four dollar toast scenester XOXO crucifix, mumblecore banh mi yr cold-pressed Bushwick.
				div.fifth-news.refinement.col-xs-24.col-xs-offset-1.col-sm-23.col-sm-offset-2.col-md-4
					div.ico.refinement-icon
					h3 <span>02</span>Refinement
					p.
						Pickled 8-bit tousled health goth farm-to-table Pitchfork, lumbersexual church-key photo booth Blue Bottle. Aesthetic viral American Apparel, scenester distillery iPhone 8-bit tousled ugh ethical pork belly biodiesel street art asymmetrical whatever.

				div.fifth-news.dive-in.col-xs-24.col-xs-offset-1.col-sm-23.col-sm-offset-2.col-md-4
					div.ico.dive-in-icon
					h3 <span>03</span>Dive In
					p.
						Cliche Intelligentsia church-key, gluten-free drinking vinegar keffiyeh cornhole next level shabby chic plaid tattooed. Helvetica post-ironic raw denim tousled listicle.

				div.fifth-news.research.col-xs-24.col-xs-offset-1.col-sm-23.col-sm-offset-2.col-md-4
					div.ico.research-icon
					h3 <span>04</span>Research
					p.
						Raw denim health goth artisan, kitsch literally shabby chic meh small batch Wes Anderson retro Neutra. Blog meggings semiotics, irony swag cred kale chips aesthetic literally VHS craft beer chia.

			div.row.sixth
				div.connectivity.col-xs-24.col-xs-offset-1.col-sm-8.col-sm-offset-2
					h2 Connectivity
					h3.description.
						Flannel ennui narwhal, craft beer twee Vice plaid authentic synth Intelligentsia stumptown gluten-free drinking vinegar Schlitz mixtape.
					p.text.
						Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest. 3 wolf moon Thundercats Banksy paleo, yr four loko Shoreditch dreamcatcher.
				div.connectivity-img.hidden-xs.col-sm-14.col-sm-offset-2

			div.row.seventh
				div.june-image.hidden-xs.col-sm-10.col-sm-offset-2
					div.play-btn.col-sm-2.col-sm-offset-12

				div.june.col-xs-26.col-xs-offset-0.col-sm-14
					div.col-xs-offset-2
						h2.date.col-xs-25.col-sm-offset-1 12th June 2015
						p.text.col-xs-25.col-sm-offset-1.
							Lorem ipsum dolor sit amet, cotur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore
						div.blaz.col-xs-25.col-sm-offset-1 Blaz Robar

			div.row.eight
				div.lorem.col-xs-24.col-xs-offset-1.col-sm-10.col-sm-offset-2

					h2.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit
					p.description.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
					p.comments.col-xs-21.col-xs-offset-0 <span>92</span> Comments

				div.eight-img.hidden-xs.col-sm-12

			div.row.nineth
				div.blaz-block.col-xs-24.col-xs-offset-1.col-sm-12.col-sm-offset-0
					p.text.col-xs-20.col-xs-offset-4.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Nisi ut aliquip ex ea commodo
					div.blaz.col-xs-20.col-xs-offset-2.col-sm-offset-4 Blaz Robar

			div.row.tenth
				div.get-in-touch.col-xs-24.col-xs-offset-1.col-md-10.col-md-offset-2
					h3 Get in touch
					p.description.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

					// Не использовала миксины для списков потому что для первого списка другой отступ
					div.list.col-xs-24.col-xs-offset-1.col-sm-7.col-sm-offset-0.hidden-xs.hidden-sm
						h3 Resources
						ul
							li
								a( href="#" ) Tour
							li
								a( href="#" ) Customers
							li
								a( href="#" ) Pricing and Plans
							li
								a( href="#" ) New Features
							li
								a( href="#" ) Education

					div.list.col-xs-24.col-xs-offset-1.col-md-7.col-md-offset-2.hidden-xs.hidden-sm
						h3 Feauchers
						ul
							li
								a( href="#" ) Tour
							li
								a( href="#" ) Customers
							li
								a( href="#" ) Pricing and Plans
								li
							li
								a( href="#" ) New Features
							li
								a( href="#" ) Education

					div.list.col-xs-24.col-xs-offset-1.col-sm-7.col-sm-offset-2.hidden-xs.hidden-sm
						h3 How To's
						ul
							li
								a( href="#" ) Tour
							li
								a( href="#" ) Customers
							li
								a( href="#" ) Pricing and Plans
							li
								a( href="#" ) New Features
							li
								a( href="#" ) Education

				div.stay-in-touch.col-xs-24.col-xs-offset-1.col-md-11.col-md-offset-2
					h3 Stay In Touch
					form.form-in-footer.col-xs-24.col-xs-offset-0.col-sm-23
						input( type="search" )
						input( type="submit" value="✓")
					p.bottom-text.col-xs-24.col-xs-offset-1.col-sm-offset-0.col-md-11.col-md-offset-0.
						We don't send spam. Actually, who are we kiding, we'll spam the shit out of you'r inbox

		script( src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" )
		script window.jQuery || document.write( '<script src="vendor/jquery/jquery-2.2.3.min.js"><\/script>' )

		// Подключаем Java Script
		script( src="vendor/jquery/jquery-2.2.3.js" )
		script( src="vendor/bootstrap/js/bootstrap.js" )

		// Мои скрипты
		script( src="app/js/main.js" )
